#cke_description {
	width: 50%;
	display: block;
	margin-top: 1em;
}
#sel_genres {
	height: 3.2em;
	width: 11em;
	margin-left: 1em;
	border: 2px solid black;
	font-weight: bold;
	background-color: rgba(0,0,0, 0);
}
input[type="file"] {
	position: inherit;
}
#upload_form {
	position: absolute;
	display: inline;
	width: 8em;
	background-image: "/static/camera.png";
	/*right: 30%;*/
	left: 53%;
	top: 3em;
	height: 10em;
}
/*#upload_form > img {
	width: 50%;
	margin-top: 30%;
	margin-left: 20%;
}*/
.lightbox-genre {
	width: 90%;
	left: 5%;
	top: -15%;
	bottom: 5%;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	z-index: 1;
}
.lightbox-genre ul:first {
	display: inline-block;
}
.lightbox-genre ul {
	display: inline-block;
}
.lightbox-genre ul {
}
.lightbox-genre li {
	display: block;
}
#close_lightbox {
	position: inherit;
	width: 8em;
	right: 2em;
	bottom: .5em;
}
#stanard_genres {
	position: inherit;
	height: 100%;
}
#standart_genres ul {
	height: 100%;
}
#other_genres {
	position: inherit;
	margin-left: 9em;
	height: 100%;
}
#other_genres ul {
	display: block;
}
#other_genres li {
	display: block;
}