main article img {
	float: right;
}
main article {
	margin-left: 3em;
	margin-right: 15em;
}
#detail div img {
	width: 2em;
	float: right;
	height: 2em;
}
article h1 {
    margin-top: 1em;
}
#detail div {
	margin-bottom: 2em;
}
#detail div p {
	border: 1px solid #E3E3E3;
	padding: .75em;
	margin: 0;
	text-indent: 1em;
}
#detail div p:hover {
    background-color: #ffeb3b;
    border: 1px solid #ffeb3b;
}
#detail div > p:hover {
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
}
#detail div > p {
	font-size: 24px;
	font-weight: bold;
	background-color: #E3E3E3;
}
#detail {
    float: right;
	margin-right: 2em;
	margin-top: 3em;
	padding: 0;
}
.edit_product {
	width: 2em;
	height: 2em;
	position: fixed;
	top: 3em;
	right: 4em;
	background-color: #FFC107;
    border-radius: 1em;
    z-index: 25;
}