main > form {
	/*width: 70%;*/
}
main > form > input[type="text"] {
	width: 100%;
	height: 2em;
}
input[type="file"] {
	position: absolute;
	margin-left: -5em;
}
main > form > textarea {
	width: 70%;
	height: 24em;
}
main > form > .genres_background {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(50, 50, 50, .3);
}
main > form > .genres_background > div {
	position: inherit;
	background-color: white;
	top: 5em;
	left: 5em;
	right: 5em;
	bottom: 2em;
	column-count: 4;
	-moz-column-count: 4;
}
form div ul {
	display: inline;
}
form div ul li {
	display: block;
}
form pre {
	font-size: 14px;
}
.load_preview {
	height: 300px;
	width: 200px;
}
.load_preview_parent {
	height: 0;
	width: 0;
}
/*.img-up-form {
	width: 6em;
	height: 15em;
	position: relative;
}
.img-up-form input {
	width: 100%;
	height: 100%;
}*/