body {
	font: 20px normal Times,Georgia,Cambria,"Times New Roman",serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 3.4em;
	background-color: #fafafa;
	border-bottom: .5px solid #E3E3E3;
	z-index: 10;
}
header h1 {
	color: #444;
	max-width: 20em;
	text-indent: 2.3em;
	margin-top: -0.5em;
}
header menu {
	float: right;
	margin-top: -.4em;
	margin-right: 2.5em;
}
header button {
	height: 2em;
	border: none;
	box-shadow: 2px;
	float: left;
	margin-top: 1em;
	padding: 1em;
}
/* Кнопка показа локального меню */
header > img {
	margin: 1em;
}
input[type="search"] {
	font-size: 24px;
	border: none;
	width: 10em;
	position: inherit;
}
.search_block {
	height: 2em;
	min-width: 11.5em;
	background-color: white;
	float: left;
	margin: .3em;
	margin-top: 1em;
	border-bottom: 1px solid #E3E3E3;
}
.search_block img {
	width: 1.5em;
	height: 1.5em;
}
header > menu > img {
	margin-top: .6em;
	padding: .8em;
	border: .7px solid rgba(0, 0, 0, 0);
}
header > menu > img:hover {
	border: .7px solid #E3E3E3;
}
details {
	position: fixed;
	top: 4em;
	bottom: 0;
	left: 0;
	z-index: 20;
}
details nav {
	background-color: white;
}
details ul {
	margin: 1em;
	padding: 0;
	display: inline-block;
}
details li {
	padding: 0;
	margin: 0;
	display: inline-block;
}
details figure {
	padding: 0;
	margin: 0;
}
details figcaption {
	position: relative;
	background-color: white;
	color: black;
	margin: 0;
	font-size: 18px;
	/*text-align: center;*/
}
details div {
	background-color: rgba(50, 50, 50, .3);
	height: 100%;
}
details img {
	width: 75px;
	height: 75px;
}
header form {
	background-color: rgba(50, 50, 50, .3);
	position: fixed;
	top: 4em;
	width: 100%;
	bottom: 0;
}
header form > div {
	padding: 3%;
	background-color: white;
	vertical-align: middle;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
}
header form input {
	height: 2em;
	width: 20em;
}
header form input[type="checkbox"] {
	width: 2em;
}
header form input[type="submit"] {
	width: 10em;
}
menu > a {
	float: left;
}
header menu span {
	font-size: 28px;
}
header menu nav {
	background-color: white;
	margin-top: .3em;
}
header menu nav p {
	padding: 0.5em;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
header menu nav p a {
	width: 100%;
	height: 100%;
}
header menu nav p:hover {
	background-color: rgba(0, 0, 0, .1);
}
.user_menu {
	position: fixed;
	right: 1em;
	font-size: 26px;
	top: 2.5em;
	padding: 0;
	width: 5em;
	border: 1px solid rgba(0, 0, 0, .3);
	background-color: white;
}
.user_menu a {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.user_menu a p {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}