main {
	margin-top: 4.5em;
	margin-left: 0.5em;
	margin-bottom: 0;
}
main > div {
	float: left;
	background-color: white;
	margin:-0.2em;
}
h2 {
	text-align: center;
	margin: 0.3em;
}
main ul {
	padding: 0;
    margin-left: 0;
	list-style: none outside none;
}
main ul li {
	display: inline-block;
}
main ul li figure {
	margin: .1em;
}
main img {
	width: 12em;
	height: 17em;
}
/* Список со страницы пользователей */
.user_product_list {
    margin-top: 2em;
}
.user_product_list li {
    height: 2em;
    display: block;
    width: 35em;
    border: .5px solid #E3E3E3;
}
.user_product_list li:hover {
	background-color: #e91e63;
	border: 1px solid #e91e63;
}
.user_product_list .title {
    position: absolute;
    width: 25em;
    margin-top: .3em;
    margin-left: .6em;
}
.user_product_list .status {
    position: absolute;
    margin-top: .3em;
    margin-left: 20em;
}
.user_product_list .series {
    position: absolute;
    margin-top: .3em;
    margin-left: 28em;
}
.user_categories {
    width: 60%;
    margin-left: 3em;
}
.img_preview {
    margin-left: 15em;
}