@media all and (max-device-width: 480px), handheld {
    .details {
        visibility: hidden;
    }
    header {
        z-index: 20;
        height: 2.5em;
    }
    header > menu > img {
        position: fixed;
        right: 1.5em;
    }
    main ul {
        display: block;
    }
    main li {
        display: block;
        border-bottom: 1px solid #E3E3E3;
        width: 100%;
    }
    main img {
        margin-left: .3em;
        width: 75px;
        height: 75px;
        border-radius: 38px;
    }
    main figcaption {
        margin-top: 1em;
        float: right;
        position: relative;
        width: 8em;
        background-color: #ffffff;
        color: #444;
    }
    .search_block {
        position: fixed;
        background-color: rgba(0,0,0,0);
        border-bottom: none;
        right: 2.5em;
        left: 3em;
    }
    .search_block input[type='search'] {
        position: inherit;
        right: 2.5em;
        max-width: 8em;
    }
    .search_block img {
        position: inherit;
        right: 2em;
    }
    .search_block nav {
        position: inherit;
        max-width: 12em;
        top: 2em;
        right: 2.5em;
    }
    header menu span {
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
    }
    header > menu > img {
        visibility: hidden;
    }
    header menu {
        position: fixed;
        right: 0;
    }
    .user_menu {
        top: 1.5em;
    }
    .isr_menu {
        visibility: visible;
        width: 10px;
        position: fixed;
        top: -0.5em;
        right: 0;
    }
    .tooltip {
        visibility: hidden;
    }
    .add_to_list {
        visibility: hidden;
    }
    .edit_in_list {
        visibility: hidden;
    }
    #detail {
        top: 3em;
        left: 0;
        right: 0;
        margin-top: 0;
        width: 100%;
        height: 2em;
    }
    #detail div > p {
        display: none;
        visibility: hidden;
    }
    #detail div a {
        text-indent: 0;
        width: 25%
    }
    #detail div p {
        display: none;
    }
    #detail div a {
        margin-right: -5px;
        padding: 0;
        width: 25%;
    }
    #detail div a span {
        display: inline-block;
        padding: 10px;;
        text-indent: 0;
        margin: 0;
        padding-right: 0;
    }
    #detail div a span {
	    border: 1px solid #E3E3E3;
	    padding: .5em;
        text-indent: -.5em;
    }
    #detail div span:hover {
        background-color: #ffeb3b;
        border: 1px solid #ffeb3b;
    }
    #detail div:nth-child(2) {
        display: none;
    }
    #creator_list {
        margin-top: 6em;
    }
    #creator_list figcaption {
        margin-top: .5em;
        margin-right: -2em;
    }
    main article {
        margin-top: 1em;
        margin-left: 2em;
        position: absolute;
    }
    main > article > a {
        margin-left: 0;
    }
    main article img {
        border-radius: 0;
        width: 12em;
        height: 17em;
        left: -2em;
        position: inherit;
    }
    main article h2 {
    }
    .product_description {
        margin-top: 9em;
        position: inherit;
    }
    .add_product_form {
        bottom: -1em;
    }
    .add_product_form input[type="text"] {
        margin-left: .5em;
        width: 90%;
    }
    .add_product_form input[type="file"] {
        margin-top: 6em;
        margin-left: -13em;
        width: 90%;
    }
    .add_product_form select {
        margin-top: 1em;
    }
    .add_product_form input[type='search'] {
        margin-top: 1em;
        margin-left: 0;
        width: 90%;
        border-bottom: 1px solid #444;
    }
    .add_product_form pre {
        font-size: 18px;
    }
    .add_product_form input[type='submit'] {
        margin-bottom: -4em;
    }
}