.series_block {
	list-style: none;
	margin-left: 2em;
    min-width: 65%;
}
.series_block ul li {
    min-width: 30em;
	display: block;
	padding: .7em;
    margin: 0;
	border: 1px solid #E3E3E3;
}
.read {
    background-color: #f9a825;
    opacity: .5;
    position: absolute;
    height: 2.7em;
    left: 2.9em;
    width: 41em;
    margin-top: -0.7em;
}
.read span {
    position: inherit;
    text-indent: 9em;
    margin-top: .3em;
    font-size: 28px;
}
.series_block li:hover {
	background-color: #e91e63;
	border: 1px solid #e91e63;
}
.series_block p {
	text-indent: 1em;
}
.serie {
    height: 1.2em;
}
.serie .menu {
	float: right;
}
input[type="submit"], .submit_button {
	background-color: #f36c60;
	border: none;
	height: 2em;
}
.series_block img {
	width: 25px;
	height: 25px;
}
.series_block span menu {
	position: absolute;
    margin-left: 12em;
}
.series_block span menu i {
    z-index: 10;
	cursor: pointer;
    margin-left: 1.2em;
}
.add_season {
	position: fixed;
	width: 4em;
	height: 4em;
	bottom: 1em;
	z-index: 20;
	right: 1em;
	background-color: #42bd41;
	border-radius: 2em;
}
.series_block .number {
	margin-left: 1em;
    position: absolute;
	width: 3em;
}
.series_block .name {
	margin-left: 5em;
    position: absolute;
    height: 2em;
}
/* refractor this */
.series_block .start_date {
    position: absolute;
	left: 34em;
}
.series_block .length {
	float: right;
	width: 1em;
	margin-right: 1em;
}
.series input[type="number"] {
	width: 5em;
	height: 2em;
	border: none;
	border-bottom: 1px solid #E3E3E3;	
}
.text_field {
	width: 25em;
	border: none;
	border-bottom: .5px solid rgba(0, 0, 0, .4);
}
#series_form {
	border: 1px solid #E3E3E3;
}
#plus_one_serie {
	width: 2em;
	height: 2em;
}
#detail select {
	margin-top: 1em;
}