virt/*
*.pyc
,idea/
*/__pycache__/*
*.jpg
*.png
anylist/media/*
anylist/staticfiles/*
anylist/static/lib/angular.min.js
anylist/static/lib/angular-cookies.min.js
anylist/static/lib/angular-file-upload.min.js
anylist/node_modules/*
htmlcov/*