argparse (1.2.1)
beautifulsoup4 (4.3.2)
Django (1.6.5)
django-any (0.2.0)
django-braces (1.4.0)
django-wysiwyg (0.5.1)
djangorestframework (2.3.13)
gunicorn (18.0)
ipython (2.1.0)
pilkit (1.1.9)
Pillow (2.4.0)
pip (1.5.4)
python-ptrace (0.7)
requests (2.3.0)
setuptools (2.2)
six (1.6.1)
South (0.8.4)
