argparse (1.2.1)
astroid (1.1.1)
coverage (3.7.1)
Django (1.6.5)
django-cacheops (2.1.1)
django-redis (3.6.2)
djangorestframework (2.3.14)
easy-thumbnails (2.0.1)
ecdsa (0.11)
Fabric (1.9.1)
funcy (1.1)
gunicorn (18.0)
ipython (2.1.0)
itsdangerous (0.24)
paramiko (1.14.0)
pep8 (1.5.7)
pilkit (1.1.9)
Pillow (2.4.0)
pip (1.5.4)
psycopg2 (2.5.3)
pycrypto (2.6.1)
pyflakes (0.8.1)
pylint (1.2.1)
python-ptrace (0.7)
redis (2.10.1)
requests (2.3.0)
selenium (2.42.1)
setuptools (2.2)
six (1.6.1)
South (0.8.4)
sqlparse (0.1.11)
