<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Base title</title>
	<link rel="stylesheet" type="text/css" href="/static/medialist.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery.datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="/static/avatars.css">
	<link rel="stylesheet" type="text/css" href="/static/select2/select2.css">
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="/static/medialist.js"></script>
	<script type="text/javascript" src="/static/select2/select2.js"></script>
	<script type="text/javascript">
		function csrfSafeMethod(method) {
    		// these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
	    	crossDomain: false, // obviates need for sameOrigin test
    		beforeSend: function(xhr, settings) {
        		if (!csrfSafeMethod(settings.type)) {
            		xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        		}
    		}
		});


	function construct_url(dict) {
		// конструируем новый url (позже сделать его универсальным)
		// на основе старого + изменения
		var new_url = '/{{ category.get_absolute_url }}/filter/';
		for (var key in dict) {
			if (dict[key].length) {
				new_url += key + '/';
				for (var i in dict[key]) {
					new_url +=  dict[key][i] + ','
				}
				new_url = new_url.slice(0, new_url.length - 1) + '/';
			}
		}
		return new_url;
	}
	var genres_translate = { {% for group in genre_groups %} {% for genre in group.genres %}"{{ genre.name }}":"{{ genre.id }}",{% endfor %}{% endfor %} };
	
	</script>
</head>
<body>
	<header>
	{% block header %}
		<img src="/static/glyphicons_156_show_thumbnails.png" class="nav_display" onclick="show_menu()">
		<hr>
		{% include "components/nav.html" %}
	{% endblock %}
	</header>
	<main>
	{% block content %}
	{% endblock %}
	</main>
	<nav>
	{% block navigation %}
	{% endblock %}
	</nav>
	{% block script %}
	{% endblock %}
	<script type="text/javascript">
		update_checkboxes(url_resolve());
	</script>
</body>
</html>