<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Base title</title>
	<link rel="stylesheet" type="text/css" href="/static/css/medialist.css">
	<link rel="stylesheet" type="text/css" href="/static/datetimepicker/jquery.datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="/static/select2/select2.css">
	<link rel="stylesheet" type="text/css" href="/static/css/header.css">
	<link rel="stylesheet" type="text/css" href="/static/css/auth_form.css">
	<link rel="stylesheet" type="text/css" href="/static/css/add_form.css">
	
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/just.min.js"></script>
	<script type="text/javascript" src="/static/datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="/static/medialist.js"></script>
	<script type="text/javascript" src="/static/select2/select2.js"></script>
	<script type="text/javascript">
		function csrfSafeMethod(method) {
    		// these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
	    	crossDomain: false, // obviates need for sameOrigin test
    		beforeSend: function(xhr, settings) {
        		if (!csrfSafeMethod(settings.type)) {
            		xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        		}
    		}
		});
	</script>
</head>
<body>
	{% load nav_menu %}
	{% if lst %}
		{% main_menu header user lst %}
	{% else %}
		{% main_menu header user lst %}
	{% endif %}
	<main>
	{% block content %}
	{% endblock %}
	</main>
	<nav>
	{% block navigation %}
	{% endblock %}
	</nav>
	{% block script %}
	{% endblock %}
	<script type="text/javascript">
		update_checkboxes(url_resolve());
	</script>
</body>
</html>