{% extends "base.html" %}
{% block title %}List of creators of {{ category }} {{ name }}{% endblock %}
{% block body %}
<main class="cards" ng-controller="CreatorController">
    <form class="add_product_form_parent" ng-click="add_form()" ng-show="add_form_visible" ng-submit="add_creator()">
        <div class="add_product_form creator_form" ng-click="add_form()">
            <div class="creator_group">
                <input type="text" ng-model="creator.name" placeholder="Name">
                    <h2>OR select from list:</h2>
                    <input type="search" placeholder="Start enter name here" ng-change="enter_creator_name()" ng-model="search_creator.name">
                    <ul>
                        <li ng-repeat="crea in search_creators" ng-click="select_creator(crea)">{[{crea.name}]}</li>
                    </ul>
                <div>
                    <input ng-model="creator.employ" type="search" placeholder="Employ" id="employs" ng-change="filter_employs(creator.employ)">
                    <ul class="employers">
                        <li ng-repeat="employ in employs" ng-click="select_employ(employ)">{[{employ.name}]}</li>
                    </ul>
                </div>
                <div class="creator_search">
                </div>
             </div>
            <span ng-repeat="item in uploader.queue" class="img_preview">
				<span ng-show="uploader.isHTML5" ng-thumb="{file: item._file, height: 150}"></span>
			</span>
			<img src="/static/img/cancel.png" style="width: 50px;height: 50px" ng-click="remove_image()" ng-if="uploader.queue.length == 1">
            <input type="file" ng-model="creator.avatar" nv-file-select uploader="uploader" ng-if="uploader.queue.length == 0">
            <input type="submit" value="Create">
        </div>
    </form>
    <img src="/static/img/add.svg" class="add_season" ng-click="add_form()" ng-if="token" ng-hide="add_form_visible">
    <ul id="creator_list">
        <li ng-repeat="creator in creators">
            <a href="{[{creator.url}]}">
                <figure>
                    <img src="{[{creator.avatar_path}]}">
                    <figcaption>{[{creator.name}]}, {[{creator.employ}]}</figcaption>
                </figure>
            </a>
        </li>
    </ul>
	<nav class="detail">
		<div>
			<p>About</p>
			<a ng-repeat="content in contents" href="{[{content.url}]}">
				<p>{[{content.name}]}</p>
			</a>
		</div>
		<div>
			<input type="number"><span>/{[{product.series_count}]}</span>
			<select>
				<option ng-click="status_move(this, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
			</select>
		</div>
	</nav>
</main>
{% endblock %}