<main class="cards">
    <div class="add_product_form_parent" ng-click="add_form()" ng-show="add_form_visible" >
        <creator-form ng-click="add_form()"></creator-form>
    </div>
    <img src="/static/img/add.svg" class="add_season" ng-click="add_form()" ng-if="token" ng-hide="add_form_visible">
	<panel id="detail"></panel>
    <ul id="creator_list">
        <li ng-repeat="creator in creators">
            <a href="{[{creator.url}]}">
                <figure>
                    <img src="{[{creator.avatar_path}]}">
                    <figcaption>{[{creator.name}]}, {[{creator.employ}]}</figcaption>
                </figure>
            </a>
        </li>
    </ul>
</main>