{% extends "base.html" %}
{% block header %}
	<h1>{{ object.title }}</h1>
	{{ block.super }}
	<!--<span>Следующая глава: 17 мая 2014 | Оценка: 8 из 10 <sub>5 голосов</sub> | Добавить в список | Редактировать</span>-->
{% endblock %}
{% block content %}
	<article>
		<p>
			<img src="{{ object.avatar_path }}">
			Жанры: {% for genre in object.genres.all %}
				<a href="filter/genres/{{ genre.name }}">{{ genre.name }}</a>
			{% endfor %}
		</p>
		<p>Возраст: <a href="filter/old_limit/{{ object.old_limit }}">{{ object.old_limit }}</a></p>
			<br>
			{{ object.description|safe }}
	</article>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript">
		// меню переключения между разделами карточки описания
		infoBlockModule.renderLeftMenu("nav");
		{% if is_listed %}
			addToListModule.renderOptionsBlock("nav", true)
			addToListModule.renderStatusBlock("nav", "{{ is_listed.status }}");
		{% else %}
			addToListModule.renderOptionsBlock("nav", false);
		{% endif %}
	</script>
{% endblock %}
