{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block body %}
<main ng-controller="DetailCtrl" class="description">
	<a href="edit"><img src="/static/img/edit.png" class="edit_product"></a>
	<article>
		<img src="{{ object.avatar_path }}">
		Genres: <a href="/{[{category}]}/filter/genres/{[{genre.name}]}" ng-repeat="genre in product.genres_list">{[{genre.name}]}, </a>
		<p>Old raiting: <a href="/{[{category}]}/filter/old_limit/{[{raiting[product.old_limit - 1]}]}">{[{raiting[product.old_limit - 1]}]}</a></p>
		<p>
		{[{product.description}]}
		</p>
	</article>
	<nav class="detail">
		<div>
			<p>About</p>
			<a ng-repeat="content in contents" href="{[{content.url}]}">
				<p>{[{content.name}]}</p>
			</a>
		</div>
		<div>
			<input type="number"><span>/{[{product.series_count}]}</span>
			<select>
				<option ng-click="status_move(this, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
			</select>
		</div>
	</nav>
	</main>
{% endblock %}
