{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block body %}
	<main>
		<a href="edit">Edit</a>
		<article>
				<img src="{{ object.avatar_path }}">
				Жанры: {% for genre in object.genres.all %}
					<a href="/{{ category }}/filter/genres/{{ genre.name }}">{{ genre.name }}</a>
				{% endfor %}
			<p>Возраст: <a href="/{{ category }}/filter/old_limit/{{ object.old_limit }}">{{ object.old_limit }}</a></p>
				<br>
				{{ object.description|safe }}
		</article>
	</main>
	<nav ng-controller="DetailCtrl">
		<menu>
			<h3>About</h3>
			<a ng-repeat="category in categories" href="{[{category.url}]}">{[{category.title}]}</a>
		</menu>
		<div class="base_actions">
			<input type="number">
			<img src="/static/img/delete.png"><br>
			<select>
				<option>--> Add To List</option>
				<option ng-click="status_move(this)" ng-repeat="status in statuses" ng-selected="{[{status == active_status }]}">{[{status}]}</option>
			</select>
		</div>
	</nav>
{% endblock %}
{% block script %}
	<script>
		defaultApp.controller('DetailCtrl', ['$scope', '$http', '$location',
			function ($scope, $http, $location) {
				$scope.active_status = "{{ is_listed.status.name }}";
				$scope.statuses = ['Planned', 'Watch', 'ReWatching', 'Watched', 'Deffered', 'Dropped'];

				$scope.status_move = function (elem) {
					$http({
						method: "POST",
						url: $location.absUrl() + "status",
						data: 'name=' + elem.status,
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}).success(function (data) {
						$scope.active_status = elem.status;
					});
				}
			}
		]);
	</script>
{% endblock %}