{% extends "base.html" %}
{% block body %}
<main class="list" ng-controller="HeroController">
    <form class="add_product_form_parent" ng-click="add_form()" ng-show="add_form_visible" ng-submit="submit_hero()">
        <div class="add_product_form creator_form" ng-click="add_form()">
            <input type="text" ng-model="hero.name" placeholder="Enter new Name or select from exists" ng-change="change_hero(hero.name)">
            <br>
            <textarea ng-model="hero.description"></textarea><br>
            <input type="text" ng-model="hero.actor_name" placeholder="Input Actor name" ng-change="change_actor(hero.actor_name)">
            <ul>
                <li ng-repeat="actor in actors" ng-click="select_actor(actor)">{[{actor.name}]}</li>
            </ul>
            <p></p>
            <span ng-repeat="item in uploader.queue" class="img_preview">
    		    <span ng-show="uploader.isHTML5" ng-thumb="{file: item._file, height: 150}"></span>
		    </span>
		    <img src="/static/img/cancel.png" style="width: 50px;height: 50px" ng-click="remove_image()" ng-if="uploader.queue.length == 1">
            <input type="file" ng-model="creator.avatar" nv-file-select uploader="uploader" ng-if="uploader.queue.length == 0">
            <input type="submit" value="Create">
        </div>
    </form>
    <ul id="creator_list">
        <li ng-repeat="hero in heroes">
            <a href="{[{hero.url}]}">
                <figure>
                    <img src="{[{hero.avatar_path}]}">
                    <figcaption>{[{hero.name}]}</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    <img src="/static/img/add.svg" class="add_season" ng-click="add_form()" ng-if="token" ng-hide="add_form_visible">
	<nav class="detail">
		<div>
			<p>About</p>
			<a ng-repeat="content in contents" href="{[{content.url}]}">
				<p>{[{content.name}]}</p>
			</a>
		</div>
		<div>
			<input type="number"><span>/{[{product.series_count}]}</span>
			<select>
				<option ng-click="status_move(this, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
			</select>
		</div>
	</nav>
</main>
{% endblock %}