{% extends "base.html" %}
{% block body %}
<main class="list" ng-controller="HeroController">
    <form class="add_product_form_parent" ng-click="add_form()" ng-show="add_form_visible" ng-submit="add_creator()">
        <div class="add_product_form creator_form" ng-click="add_form()">
            <div>
                <input type="text" ng-model="hero.name" placeholder="Name">
                <textarea ng-model="hero.description"></textarea>
                <input type="file">
            </div>
            <div>
                OR select from list
                <input type="search" placeholder="Start enter name">
            </div>
            <input type="submit" value="Create">
        </div>
    </form>
    <img src="/static/img/add.svg" class="add_season" ng-click="add_form()" ng-if="token">
	<nav class="detail">
		<div>
			<p>About</p>
			<a ng-repeat="content in contents" href="{[{content.url}]}">
				<p>{[{content.name}]}</p>
			</a>
		</div>
		<div>
			<input type="number"><span>/{[{product.series_count}]}</span>
			<select>
				<option ng-click="status_move(this, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
			</select>
		</div>
	</nav>
</main>
{% endblock %}