{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block body %}
<main ng-controller="ListCtrl" class="cards">
	{% if user.is_authenticated %}
	<img src="/static/img/add.svg" class="add_form" ng-click="add_form()">
	<!-- Форма создания продукта -->
	<div class="add_product_form_parent" ng-show="add_form_visible" ng-click="add_form()">
		<form class="add_product_form" ng-click="add_form()">
			<div>
				<label>Title:</label>
				<input type="text" placeholder="Title">
			</div>
			<div>
				<label>Description:</label>
				<textarea></textarea>
				<input type="file" nv-file-select uploader="uploader">
			</div>
			<div>
				<select multiple="multiple">
					<option ng-repeat="genre in all_genres" value="{[{genre.id}]}">{[{genre.name}]}</option>
				</select>
				<select>
					<option>Select old limit</option>
					<option ng-repeat="limit in raiting" value="limit.id">{[{limit.name}]}</option>
				</select>
			</div>
		</form>
	</div>
	{% endif %}
	<img src="/static/img/expand.png" class="expand" ng-click="show_panel()">
	<ul>
		<li ng-repeat="product in products">
			<a href="{[{product.url}]}" ng-mouseenter="mouse_over(this)">
				<img src="/static/img/edit_w.png" class="edit_in_list" ng-show="edit_visibility">
				<figure>
					<img src="{[{product.avatar}]}">
					<figcaption>{[{product.title}]}</figcaption>
				</figure>
			</a>
		</li>
	</ul>
	<nav ng-show="panel_visibility">
		<p>Raiting</p>
		<div ng-repeat="old_limit in raiting">
			<input type="checkbox" id="{[{old_limit.name}]}" ng-model="old_limit.checked" ng-change="start_filter(this)">
			<label for="{[{old_limit.name}]}">{[{old_limit.name}]}</label>
		</div>
		<p>Genres</p>
		<p ng-repeat-start="group in genre_groups">
			<div ng-repeat="genre in group.genres">
				<input type="checkbox" id="{[{genre}]}" ng-model="genre.checked" ng-change="start_filter(this)">
				<label for="{[{genre}]}">{[{genre.name}]}</label>
			</div>
		</p>
		<div ng-repeat-end></div>
	</nav>
</main>
{% endblock %}