{% extends "base.html" %}
{% block header %}
	<h1>{{ header }}</h1>
	{% include "components/filters.html" %}
	<img src="/static/glyphicons_158_show_lines.png" class="panel_display" onclick="show_panel()">
	{{ block.super }}
{% endblock %}
{% block content %}
	{% include "components/obj_list.html" %}
{% endblock %}
{% block navigation %}
	<div id="left_menu">
	{% include "components/raitings.html" %}
	{% include "components/genres.html" %}
	</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript">
		$(".add_me").click(function (eventObject) {
			var id = eventObject.target.parentElement.id.split("-")[0]
			$.ajax({
				url: "/mylist/add",
				data: {
					product: id
				},
				type: "POST"
			});
			eventObject.preventDefault();
		});
		// Изменение описания продукта
		$(".edit_me").click(function (eventObject) {
			var id = eventObject.target.parentElement.id;
			eventObject.preventDefault();
			window.location.pathname += id + "/edit";
		});
	</script>
{% endblock %}