{% spaceless %}
<main class="cards">
	<img src="/static/img/add.svg" class="add_season" ng-click="show_for_add()" ng-if="token" ng-hide="add_form_visible">
    <div class="add_product_form_parent" ng-show="add_form_visible" ng-click="add_form()">
        <product-form ng-click="add_form()"></product-form>
    </div>
	<img src="/static/img/expand.svg" class="expand" ng-click="show_panel()">


    <!-- Список продуктов -->
    <p>
    	<a ng-show="pages.previous" ng-href="{[{pages.previous}]}">Prev</a>
    	<a ng-show="pages.next" ng-href="{[{pages.next}]}">Next</a>
    	<span>| Number {[{pages.count}]}</span>
    </p>
	<ul>
		<li ng-repeat="product in products">
			<a ng-href="/#!{[{product.url}]}" ng-mouseenter="mouse_over(this)" ng-mouseleave="mouse_leave(this)">
				<div class="product_status" ng-if="user_list[product.id]">
					<p>{[{status[user_list[product.id].status - 1]}]}</p>
				</div>
                <div ng-if="token">
				    <img src="/static/img/add_w.svg" class="add_to_list" ng-show="product.edit_btn" ng-click="add_to_list(this, $event, user_list)" ng-if="!user_list[product.id]">
				
				    <img src="/static/img/edit.svg" class="edit_in_list" ng-show="product.edit_btn" ng-click="show_editing(product, $event)">
                </div>
				<figure>
					<img ng-src="{[{product.avatar_path}]}">
					<figcaption>{[{product.title}]}</figcaption>
				</figure>
			</a>
		</li>
	</ul>
	
	<nav ng-show="panel_visibility">
		<p>Raiting</p>
		<div ng-repeat="old_limit in raiting">
			<input type="checkbox" id="{[{old_limit.name}]}" ng-model="old_limit.checked" ng-change="start_filter(old_limit, genre)">
			<label for="{[{old_limit.name}]}">{[{old_limit.name}]}</label>
		</div>
		<p>Genres</p>
		<p ng-repeat-start="group in genre_groups">
			<div ng-repeat="genre in group.genres">
				<input type="checkbox" id="{[{genre}]}" ng-model="genre.checked" ng-change="start_filter(old_limit, genre)">
				<label for="{[{genre}]}">{[{genre.name}]}</label>
			</div>
		</p>
		<div ng-repeat-end></div>
	</nav>
</main>
{% endspaceless %}