<nav ng-controller="OptionsCtrl">
	<div>
		<p>About</p>
	    <a ng-repeat="content in contents" ng-href="{[{content.url}]}">
            <p>{[{content.name}]}</p>
            <span>{[{content.name}]}</span>
        </a>
	</div>
	<div>
        <input type="number" ng-model="readed_series" ng-enter="change_num_series(readed_series)" ng-change="change(readed_series)"><p id="num_ser">/{[{series_count}]}</p>
		<select>
			<option ng-click="status_move(status, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
		</select>
	</div>
</nav>