{% extends "base.html" %}
{% block body %}
<main ng-controller="DetailCtrl" class="series"><!--
	<form ng-submit="create_season()">
		<input type="number" placeholder="Number" ng-model="season.number">
		<input type="text" placeholder="Name" ng-model="season.name" class="text_field">
		<input type="submit" value="Create New Season">
	</form> -->
	<img src="/static/img/add.png" class="add_season" ng-click="create_season(seasons)">
	<div ng-repeat="season in seasons" class="series_block">
		<p>{[{season.number}]} Season</p>
		<form ng-submit="create_serie(season)" ng-if="token">
			<input type="number" placeholder="Number" ng-model="season.new_serie.number" required>
			<input type="text" placeholder="Name" ng-model="season.new_serie.name" class="text_field">
			<quick-datepicker ng-model="season.new_serie.start_date" disable-timepicker="true" date-format="MM/dd/yyyy"></quick-datepicker>
			<input type="number" ng-model="season.new_serie.length" placeholder="Length">
			<input type="submit" value="Add new Serie">
		</form>
		<ul>
			<li ng-repeat="serie in season.series" ng-mouseenter="serie_mouse_enter(serie)" class="serie" ng-mouseleave="serie_mouse_leave(serie)">
                <div ng-hide="serie.editing">
                    <div class="read" ng-show="serielist[serie.id]"><span>Read</span></div>
				    <span class="number">{[{serie.number}]}</span>
				    <span class="name">{[{serie.name}]}</span>
				    <span class="start_date">{[{serie.start_date}]}</span>
				    <span class="length">{[{serie.length}]}</span>
                    <span>
                        <menu ng-show="serie.edit">
                            <i class="fa fa-eye" ng-click="add_to_list_serie(serie)" ng-hide="serielist[serie.id]"></i>
                            <i class="fa fa-eye-slash" ng-show="serielist[serie.id]" ng-click="del_from_list_serie(serie, serielist)"></i>
                            <i class="fa fa-pencil" ng-click="show_editing(serie)"></i>
                        </menu>
                    </span>
                </div>
                <form ng-show="serie.editing">
                    <input type="number" placeholder="Number" ng-model="serie.new_version.number">
                    <input type="text" placeholder="Name" ng-model="serie.new_version.name">
                    <quick-datepicker ng-model="serie.new_version.start_date" disable-timepicker="true" date-format="MM/dd/yyyy"></quick-datepicker>
                    <input type="number" ng-model="serie.new_version.length" placeholder="Length">
                    <button class="submit_button" ng-click="show_editing(serie)">Cancel</button>
                    <button class="submit_button" ng-click="submit_serie(serie)">Update</button>
                </form>
			</li>
		</ul>
	</div>
	<nav id="detail">
		<div>
			<p>About</p>
			<a ng-repeat="content in contents" href="{[{content.url}]}">
				<p>{[{content.name}]}</p>
			</a>
		</div>
		<div>
			<input type="number" ng-model="readed_series"><span>/{[{product.series_count}]}</span>
			<select>
				<option ng-click="status_move(this, active_status)" ng-repeat="status in statuses" ng-selected="status==active_status">{[{status}]}</option>
			</select>
		</div>
	</nav>
</main>
{% endblock %}