{% extends "base.html" %}
{% block body %}
<main ng-controller="UserCtrl">
    <ul class="user_product_list">
        <li ng-repeat="product in user_list">
            <span class="title"><a href="{[{product.url}]}">{[{product.title}]}</a></span>
            <span class="status">
                {[{statuses[product.status]}]}
                <!--<select>
                    <option ng-repeat="status in statuses">{[{status}]}</option>
                {[{statuses[product.status]}]}
                </select>-->
            </span>
        </li>
    </ul>
</main>
{% endblock %}