{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/select2/select2.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/select2/select2.js"></script>
{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block title %}{{ header }}{% endblock %}
{% block body %}
<main>
	{% load wysiwyg %}
	{% wysiwyg_setup %}
	<form enctype="multipart/form-data" method="post" id="add_form">
			<input name="title" type="text" placeholder="Enter title here" class="form-title" value="{{ object.title }}" id="edit_title">
			<textarea class="form-textarea" rows="15" name="description" id="description">{{ object.description|safe }}</textarea>
			<div id="upload_form">
				<input type="file" name="avatar">
			</div>
		<div class="form-other">
			<select name="genres" id="genres" style="width:10em;" multiple>
			{% for genre in genres %}
				<option value="{{ genre.id }}">{{ genre.name }}</option>
			{% endfor %}
			</select>
			<select name="old_limit" id="raiting" style="width:7em">
				{% for item in raiting %}
				<option value="{{ item.id }}">{{ item.name }}</option>
				{% endfor %}
			</select>
			<input name="category" type="hidden" value="{{ category_id }}">
			<p></p>
		</div>
		<div>
			{% csrf_token %}
			<button type="submit">Next Step</button>
		</div>
	</form>
	{% wysiwyg_editor "description" %}
	</main>
{% endblock %}
{% block script %}
<script type="text/javascript">
	{% autoescape off %}
		var preload_data = {{ use_genres }};
	{% endautoescape %}
	$("#genres").select2({
		width: 400,
		placeholder: "Выберите жанры",
	});
	$("#raiting").select2({
		width: 300,
		placeholder: "Select Old Limitation"
	});
	//$("#genres").select2({'data': preload_data});
	$("#add_form").attr("action", window.location.pathname);
</script>
{% endblock %}