body {
	font: 24px normal Times,Georgia,Cambria,"Times New Roman",serif;
}
h1 {
	color: #444;
}
a {
	text-decoration: none;
	color: black;
}
main {
	margin-top: 4em;
	bottom: 0;
	margin-left: 2em;
	padding: .5em;
}
header {
	background-color: white;
	z-index: 10;
	position: fixed;
	min-height: 4.5em;
	min-width: 15em;
	border-bottom: 1px solid black;
	top: 0;
	left: 0;
	right: 0;
}
header > section {
	top: .5em;
	right: 1em;
	position: inherit;
	width: 22em;
}
header > section > img {
	border: .5px solid white;
	padding: .5em;
	margin-top: .5em;
}
header > section > img:hover {
	border: 1px solid black;
}
header h1 {
	position: inherit;
	right: 11em;
	left: 1em;
	top: -0.2em;
}
button {
	height: 3.2em;
	border: 2px solid #2C3E50;
	font-weight: bold;
	background-color: rgba(0,0,0,0);
	margin: .8em;
}
header img {
	margin-right: .8em;
}
header a {
	margin-right: .8em;
}
input[type="search"] {
	width: 15em;
	height: 2em;
	margin: .8em;
	border: 1.2px solid #F1c40F;
}
nav {
	background-color: white;
	position: absolute;
	top: 5.5em;
	right: 2em;
	width: 10em;
	float: right;
}
h3 {
	text-indent: 1em;
}
nav >menu h3, nav > section h3 {
	background-color: #BDC3C7;
	padding: .45em;
	margin-bottom: 0;
	border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
}
nav > menu, nav > section {
	display: block;
	margin-top: -1em;
}
nav section {
	width: 8.4em;
	margin-left: 1.65em;
}
nav menu > a, nav > section > span {
	display: block;
	padding: .35em;
	text-indent: 1.5em;
	border: 0.2px solid rgba(0, 0, 0, 0.3);
}
nav menu > a:hover, nav > section > span:hover {
	background-color: #BDC3C7;
	border: none;
	cursor: pointer;
}
main section {
	width: 100%;
	display: block;
}
main section > h2 {
	text-indent: 1.8em;
}
main form {
}
tr button {
	height: 2em;
}
main form input {
	margin: .5em;
	height: 2em;
	border: .5px solid #F1C40F;
}
input[type="number"] {
	width: 4em;
}
main section > table {
	width: 100%;
}
ul {
	list-style: none;
}
details {
	background-color: white;
	position: fixed;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	left: 0;
	right: 0;
	z-index: 10;
	top: 4.5em;
}
details li {
	display: inline-block;
}
#space {
	background-color: rgba(50, 50, 50, .3);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 5em;
	z-index: 5;
}
td img {
	height: 1.5em;
}
#auth_form {
	position: fixed;
	top: 5em;
	z-index: 13;
	width: 10em;
	right: 3em;
	background-color: #F1c40F;
}
#auth_form > input {
	height: 1.6em;
	border: 1px solid red;
}
form > label {
	cursor: pointer;
}
#search_result {
	z-index: 20;
	background-color: white;
	position: fixed;
	top: 3.4em;
	right: 8em;
	border: 1px solid black;
	width: 13.43em;
	padding: 0;
	margin: 0;
}
#search_result li {
	margin: 0;
	padding: 0;
	font-size: 18px;
	overflow: hidden;
	height: 1.5em;
	border: 1px solid black;
}
article img {
	float: right;
	margin: 1em 13em 7px 7px;
	width: 11em;
}
article a {
	color: blue;
}
main > ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
main > ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	width: 9.2em;
}
main > ul > li > a {
	padding: 0;
	margin: 0;
}
main figure {
	width: 100%;
}
main figure img {
	width: 8.6em;
	height: 11.6em;
	margin: 0;
	padding: 0;
	max-height: 15em;
}
main figcaption {
	margin-bottom: .3em;
	margin-left: .4em;
	height: 3em;
	width: 8em;
	overflow: hidden;
}
.list {
	margin-left: 0;
	margin-right: 0;
	padding: 1em;
}
.edit_me {
	position: absolute;
	margin-left: 5em;
	margin-top: .3em;
	border-radius: 1.5em;
	width: 1.45em;
	height: 1.45em;
	background-color: white;
}
.edit_me img {
	width: 1.5em;
	height: 1.5em;
}

.add_me, .del_me {
	position: absolute;
	margin-left: 6.8em;
	margin-top: .3em;
	width: 1.5em;
	height: 1.5em;
	background: white;
	border: 1px solid black;
}
.add_me img, .del_me img {
	width: 1.5em;
	height: 1.5em;
}
.panel_display {
	position: fixed;
	right: 1em;
	top: 5em;
}
.active {
	border-left: 1px solid black;
}