body {
	font: 24px normal Times,Georgia,Cambria,"Times New Roman",serif;
}
a {
	text-decoration: none;
	color: black;
}
sup {
	font-size: 20px;
	font-style: italic;
	color: blue;
}
sub {
	font-size: 14px;

}
body > header {
	position: absolute;
	min-height: 4.8em;
	max-height: 10em;
	min-width: 15em;
	top: 0;
	left: 0;
	right: 0;
}
header > h1 {
	max-width: 100%;
	max-height: 100%;
	margin-top: .3em;
	text-indent: 1.4em;
}
header > span {
	position: inherit;
	margin-top: -1.1em;
	left: 1em;
}

figure {
	border: .8px solid rgba(0, 0, 0, .8);
	min-width: 5em;
	background-color: white;
	max-width: 10em;
}
figure img {
	max-width: 9.6em;
	margin: 0;
	padding: 0;
	max-height: 15em;
	border: .2em solid white;
}
figcaption {
	margin-bottom: .3em;
	margin-left: .4em;
}

/* Grid для коллекций */
main {
	position: absolute;
	top: 5em;
	bottom: 0;
	left: 1em;
	right: 10em;
	padding: .5em;
	min-width: 10em;
	background-color: rgba(200, 200, 200, .1);
}
nav {
	position: absolute;
	top: 5em;
	right: 0;
	width: 10em;
}
nav > input {
	margin-left: 1.5em;
}
/* Детальное описание карточки */
main > article {
	position: inherit;
	left: 3em;
	top: 1em;
	right: 11em;
}
article > p {
	text-indent: 1em;
}
article > p > a {
	color: rgb(0, 0, 160);
	cursor: pointer;
}
.avatars {
	float: right;
	margin: 7px 0 7px 7px;
	width: 11em;
}
article img {
	float: right;
	margin: 7px 0 7px 7px;
	width: 11em;
}

/*Конец детального описания карточки*/

a > figure {
	padding: .3em;
	margin: .3em;
}
main li {
	list-style-type: none;
	display: inline-block;
}
/* Случаи не-ajax формы */
main > form {
	margin-left: 5%;
	width: 90%;
	height: 100%;
}
.form-title {
	height: 2em;
	border: none;
	width: 70%;
}
.form-textarea {
	border: none;
	max-width: 40%;
	min-width: 40%;
	display: inline;
}
.form-header {
	width: 100%;
}
.form-menu {
	margin-top: 1em;
	width: 100%;
	display: block;
}
.form-upload-image {
	background-color: gray;
}
/* Поиск для добавления студий */
.select-list {
	border: 1px solid black;
	margin-left: 0;
	font-size: 20px;
	padding: .2em;
}
.select-list:focus + .popup {
	visibility: visible;
}
.popup {
	visibility: hidden;
	display: block;
	width: 5em;
	margin-top: 0;
	margin-left: -1.6em;
	width: 13em;
	position: absolute;
}
.popup > li {
	display: block;
	border: 1px solid black;
	background-color: white;
}
.popup > li:hover {
	background-color: rgb(100, 100, 100);
}
/* Лайтбокс для добавления жанра */
.lightbox {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	border: .5px solid rgba(0, 0, 0, .5);
	right: 0;
	bottom: 0;
}
.lightbox .content {
	background-color: white;
	position: inherit;
	top: 5%;
	bottom: 3%;
	left: 15%;
	right: 15%;
}
button {
	height: 2.3em;
	width: 5em;
	background-color: white;
	border: .6px solid rgba(0, 0, 0, .5);
}
.lightbox .save {
	bottom: 2em;
	position: absolute;
	right: 3em;
}
.genre-list {
}
.genre-list > li {
	display: inline-block;
	width: 10em;
}
.genre-cloud {

}