<header>
	<h1>{{ header }}</h1>

	{% comment %}Меню в правом верхнем углу{% endcomment %}
	<section id="header_section">
		<a href="/profile">{{ user.username }}</a>
		<img src="/static/show_main_menu.png" id="show_main_menu">
		{% if user.is_authenticated %}
			<button id="log_out">Log Out</button>
		{% else %}
			<button id="log_in">Log In</button>
		{% endif %}
	</section>
	<div id="start_auth"></div>
	
	{% comment %}Навигация по сайту (как в яндекс.островах){% endcomment %}
	<div class="global_nav" id="global_menu">
	{% for group in nav_groups %}
		<p>{{ group.name }}</p>
		<ul>
		{% for value in group.children %}
			<li>
				<a href="/{{ value.get_absolute_url }}" class="minified">
					<figure>
						<img src="{{ value.avatar_path }}">
						<figcaption>{{ value }}</figcaption>
					</figure>
				</a>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	</div>
	{% comment %}Конец навигации по сайту{% endcomment %}
	<hr>
</header>

<script type="text/javascript">
	authFormModule.render("#start_auth");
	authFormModule.hide();
	
	var url = window.location.pathname;
	var category = url.split("/");

	{% comment %}так мы опрееляем, что это шаблон list.html{% endcomment %}
	if ((category[1] != "profile" && !category[2]) || (category[2] == "filter"))  {
		$("#header_section").append("<img src='/static/right_menu.png' id='right_menu'>");
	}

	$("#right_menu").click(function (eventObject) {
		console.log('right_menu');
		eventObject.preventDefault();
		show_panel();
	});
	$("#log_in").click(function () {
		authFormModule.hide_else_show();
	});
	$("#log_out").click(function () {
		var url = window.location.pathname;
		if (url.endsWith("/"))
			window.location.pathname += "logout";
		else
			window.location.pathname += "/logout";
	});
	$("#show_main_menu").click(function () {
		var global_menu = $("#global_menu");
		if (global_menu.css("display") == "none")
			global_menu.css("display", "block");
		else
			global_menu.css("display", "none");
	});
</script>
