<ul>
{% if user.is_authenticated %}
	<li>
		<a href="/{{ category }}/add">
			<figure>
				<img src="/static/add.svg">
				<figcaption>Add {{ category }}</figcaption>
			</figure>
		</a>
	</li>
{% endif %}
	{% for value in object_list %}
		<li>
			<a href="/{{ category }}/{{ value.get_absolute_url }}">
				<figure>
					<div class="add_me" id="{{value.id}}-{{ value.title }}">
						<img src="/static/add-1.png">
					</div>
					<img src="{{ value.avatar_path }}">
					<figcaption>{{ value }}</figcaption>
				</figure>
			</a>
		</li>
	{% endfor %}
</ul>