{% extends "base.html" %}
{% block header %}
	{{ block.super }}
	<img src="/static/add.png" id="add_serie">
	<button id="add_season">Новый сезон</button>
	{% include "forms/add_serie.html" %}
{% endblock %}
{% block content %}

	{% for season in object_list %}
	<p>{{ season.number }} сезон</p>
	<table class="series_list">
		{% for item in season.series %}
		<tr>
			<td class="num_ser">{{ item.number }}</td>
			<td class="name_ser">{{ item.name }}</td>
			<td class="pub_ser">{{ item.pub_date }}</td>
		</tr>
		{% endfor %}
	</table>
	{% endfor %}
{% endblock %}
{% block navigation %}
	{% include "components/info_block.html" %}
{% endblock %}
{% block script %}
	{{ block.script }}
	<script type="text/javascript">
		var link = document.location.pathname.split("/")[2].split("-")[0];
		var category = "{{ category.get_absolute_url }}";
		var num_season = {{ num_season }};
		$("#add_season").click(function () {
			$.post(
				"/{{ category.get_absolute_url }}/season/add",
				"link=" + link + "&number=" + (num_season + 1),
				function () {
					$(".series_list").prepend("<p>" + (num_season + 1) + " Сезон</p>");
					//console.log('success');
				}
			);
		});
		$("#pub_d").datetimepicker();
		// показывает формочку добавления новой серии
		// P.S переделать с использованием анимаций
		$("#add_serie").click(function () {
			if ($("#add_serie_form").css("display") == "none")
				$("#add_serie_form").show();
			else
				$("#add_serie_form").hide();
		});
		// отправляет данные формы
		$("#add_serie_form").submit(function () {
			$.post(
				"/{{ category.get_absolute_url }}/series/add",
				$("#add_serie_form").serialize() + "&{{ category.get_absolute_url }}=" + link
			);
			return false;
		});
	</script>
{% endblock %}