{% extends "base.html" %}
{% block header %}
	{{ block.super }}
	<img src="/static/add.png" id="add_serie">
	{% include "forms/add_serie.html" %}
{% endblock %}
{% block content %}

	<table class="series_list">
	{% for item in object_list %}
		<tr>
			<td class="num_ser">{{ item.number }}</td>
			<td class="name_ser">{{ item.name }}</td>
			<td class="pub_ser">{{ item.start_date }}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
{% block navigation %}
	{% include "components/info_block.html" %}
{% endblock %}
{% block script %}
	{{ block.script }}
	<script type="text/javascript">
		var link = document.location.pathname.split("/")[2].split("-")[0];
		var category = document.location.pathname.split("/")[1];
		$("#pub_d").datetimepicker();
		// показывает формочку добавления новой серии
		// P.S переделать с использованием анимаций
		$("#add_serie").click(function () {
			if ($("#add_serie_form").css("display") == "none")
				$("#add_serie_form").show();
			else
				$("#add_serie_form").hide();
		});
		// отправляет данные формы
		$("#add_serie_form").submit(function () {
			$.post(
				"/" + category + "/series/add",
				$("#add_serie_form").serialize() + "&product=" + link
				//$("#add_serie_form").serialize() + "&"{{ category.get_absolute_url }}"=" + link
			);
			return false;
		});
	</script>
{% endblock %}